* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.btn-random {
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.display {
  text-align: center;
}
